@using MVC_CV.Models.Entity
@model Tbl_Admin
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Password Admin Page</h4>
<br />
<form method="post">
    @Html.Label("Admin Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("User Name")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.Label("Password")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-danger">Update</button>
</form>


