@using MVC_CV.Models.Entity
@model List<Tbl_Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ 
    string color = "";
    string labelcolor = "";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Skills List</h3>
                                </div>
                                <div class="card-body">
                                    <a href="/Skill/AddSkill/" class="btn btn-info">
                                        <i class="fas fa-plus"></i>
                                    Add New Skill</a>
                                    <br />
                                    <br />
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Task</th>
                                                <th>Progress</th>
                                                <th style="width: 40px">Label</th>
                                                <th>Process</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var x in Model)
                                            {
                                                if (x.Level <= 50 && x.Level >= 0)
                                                {
                                                    color = "progress-bar bg-danger";
                                                    labelcolor = "badge bg-danger";
                                                }
                                                if (x.Level <= 70 && x.Level > 50)
                                                {
                                                    color = "progress-bar bg-warning";
                                                    labelcolor = "badge bg-warning";
                                                }
                                                if (x.Level <= 85 && x.Level > 70)
                                                {
                                                    color = "progress-bar bg-primary";
                                                    labelcolor = "badge bg-primary";
                                                }
                                                if (x.Level <= 100 && x.Level > 85)
                                                {
                                                    color = "progress-bar bg-success";
                                                    labelcolor = "badge bg-success";
                                                }
                                                <tr>
                                                    <td>@x.Id</td>
                                                    <td>@x.Skill</td>
                                                    <td>
                                                        <div class="progress progress-xs">
                                                            <div class="@color" style="width: @x.Level"></div>
                                                        </div>
                                                    </td>
                                                    <td><span class="@labelcolor">@x.Level%</span></td>
                                                    <td>
                                                        <a href="/Skill/DeleteSkill/@x.Id" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash-alt"></i>
                                                            Delete
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="/Skill/UpdateSkill/@x.Id" class="btn btn-warning btn-sm">
                                                            <i class="fas fa-pencil-alt"></i>
                                                            Update
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</body>
</html>


