@using MVC_CV.Models.Entity
@model Tbl_Experience
@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Update Experience Page</h4>
<br />
<form method="post">
    @Html.Label("Experience Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Company")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Title")
    @Html.TextBoxFor(x => x.Subtitle, new { @class = "form-control" })
    <br />
    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.Label("Explanation")
    @Html.TextAreaFor(x => x.Explanation, new { @class = "form-control" })
    <br />
    <button class="btn btn-danger">Update</button>
</form>

